.profile-img {
  border-radius: 100%;
  position: fixed;
  height: '2vh';
  top: 0;
}

.profile-background {
  background-color: black;
  height: 20vh;
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}