.container {
    direction: rtl;
    display: flex;
    justify-content: center;
    background-color: #f3f2ee;
    height: 100vh;
    width: 100vw;
}

.search-input {
    background-color: white;
    border: none;
    border-radius: 15px;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    position: relative;
    height: 30px;
    margin-top: 20px;
}